.root {
    z-index: 11;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    color: var(--black)
}

.banner {
    color: var(--white);
    border-radius: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 999
}

.banner__link {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--purple);
    transition: .25s var(--timing-function-ex)
}

@media(hover: hover) {
    .banner__link:hover {
        background-color:var(--purple-100)
    }
}

.banner__link:focus-visible {
    box-shadow: 0 0 0 2px inset var(--black);
    outline: 0
}

.banner__link:active {
    background-color: var(--purple-90)
}

.banner span {
    width: 100%
}

@media(min-width: 768px) {
    .banner {
        margin:0 auto
    }
}

.banner__container {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.banner__container p {
    font-size: 13px
}

.banner__buttonContainer {
    position: relative
}

.banner__button {
    display: flex;
    height: 20px;
    width: 20px;
    align-items: center;
    justify-content: center;
    right: 6px;
    top: 5px;
    transition: .1s var(--timing-function-ex);
    outline: none;
    padding: 2px;
    border-radius: 4px
}

.banner__button:hover {
    opacity: .6
}

.banner__button:focus-visible {
    box-shadow: 0 0 0 1px inset var(--white)
}

.banner__innerContainer {
    display: flex;
    align-items: center
}

.banner__icon {
    width: 16px;
    height: 16px;
    margin-left: 8px;
    display: none
}

.banner__icon path {
    stroke: var(--white)
}

@media(min-width: 768px) {
    .banner__icon {
        display:block
    }
}

.theme {
    position: relative;
    background-color: hsla(0,0%,100%,.8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transition-property: background-color,-webkit-backdrop-filter;
    transition-property: background-color,backdrop-filter;
    transition-property: background-color,backdrop-filter,-webkit-backdrop-filter;
    transition-duration: .15s;
    transition-timing-function: ease
}

.theme:after {
    content: "";
    position: absolute;
    bottom: -1px;
    right: 0;
    left: 0;
    height: 1px;
    background-color: var(--black);
    opacity: 0;
    transition: opacity .3s ease
}

.theme_white {
    background-color: var(--white)
}

.theme_borderBottom:after {
    opacity: 1
}

@media(min-width: 1024px) {
    .container {
        padding-right:0
    }
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    min-height: 64px
}

.logo {
    font-size: 0;
    flex-shrink: 0;
    display: flex;
    border-radius: 8px;
    opacity: 0;
    transition-property: opacity;
    transition-duration: .5s;
    transition-timing-function: var(--timing-function-ex);
    transition-delay: var(--menu-follow-delay)
}

.logo>img {
    cursor: pointer
}

.logo:focus-visible {
    outline: 2px solid var(--black)
}

.logo_triggered {
    opacity: 1
}

.nav {
    display: none;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%
}

@media(min-width: 1024px) {
    .nav {
        display:flex;
        justify-content: space-between
    }
}

.navLeft,.navRight {
    display: flex;
    align-items: center
}

.navLeft .listItem,.navRight .listItem {
    opacity: 0;
    transition-property: opacity;
    transition-duration: .5s;
    transition-timing-function: var(--timing-function-ex);
    transition-delay: var(--menu-follow-delay)
}

.navLeft .listItem_triggered,.navRight .listItem_triggered {
    opacity: 1
}

.navLeft {
    margin-left: 40px
}

.navLeft .listItem:last-child {
    height: 100%;
    display: flex;
    align-items: center
}

.navLeft .listItem:last-child button {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0;
    font-weight: 400;
    padding: 4px
}

@media(min-width: 1440px) {
    .navLeft .listItem:last-child button {
        font-size:14px;
        line-height: 20px
    }
}

@media(min-width: 1920px) {
    .navLeft .listItem:last-child button {
        font-size:17px;
        line-height: 24px
    }
}

.navRight li:first-child button:hover:before {
    width: 95%
}

.navRight li:first-child button:before {
    bottom: 0
}

.navRight .listItem:last-child {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 3px 3px 3px 0
}

.navRight .listItem:last-child button {
    border-radius: 0;
    background-color: var(--black);
    color: var(--white);
    border-radius: 8px;
    height: 100%;
    margin-right: 0;
    transition: .25s var(--timing-function-ex);
    outline: none;
    overflow: hidden;
    padding: 19px 50px
}

.navRight .listItem:last-child button:before {
    opacity: 0;
    width: 0
}

.navRight .listItem:last-child button svg path {
    fill: var(--white)
}

@media(hover: hover) {
    .navRight .listItem:last-child button:hover {
        background-color:var(--purple)
    }
}

.navRight .listItem:last-child button:focus-visible {
    outline: none;
    box-shadow: 0 0 0 3px inset var(--purple)
}

.navRight .listItem:last-child button:active {
    background-color: var(--gray-100)
}

.navRight a svg {
    display: none
}

.logoLink_mobile {
    display: flex
}

@media(min-width: 1024px) {
    .logoLink_mobile {
        display:none
    }
}

.menuToggler {
    margin-right: -8px;
    margin-left: 40px
}

@media(min-width: 768px) {
    .menuToggler {
        margin-right:-12px
    }
}

@media(min-width: 1024px) {
    .menuToggler {
        display:none
    }
}

.list {
    display: flex;
    justify-content: space-between;
    width: 100%
}

.list a {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0;
    font-weight: 400
}

@media(min-width: 1440px) {
    .list a {
        font-size:14px;
        line-height: 20px
    }
}

@media(min-width: 1920px) {
    .list a {
        font-size:17px;
        line-height: 24px
    }
}
