.popover {
    position: absolute;
    bottom: -25px;
    left: 0;
    transform: translateY(100%);
    border-radius: 16px;
    opacity: 0;
    pointer-events: none;
    transition-property: opacity,transform;
    transition-duration: .35s,.25s;
    transition-timing-function: var(--timing-function-ex)
}

.popover_open {
    opacity: 1;
    pointer-events: all
}

.button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    font-weight: 500
}

@media(min-width: 1440px) {
    .button {
        font-size:16px;
        line-height: 24px
    }
}

@media(min-width: 1920px) {
    .button {
        font-size:20px;
        line-height: 28px
    }
}

.label {
    position: relative;
    display: flex;
    align-items: center
}

.iconMinus {
    width: 16px;
    height: 16px;
    transition: opacity .25s;
    opacity: 0
}

.iconMinus_expanded {
    opacity: 1
}

.iconContainer {
    position: relative;
    display: flex;
    margin-left: 4px
}

.iconPlus {
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;
    opacity: 1;
    transition: .25s ease-out
}

.iconPlus_expanded {
    opacity: 0
}
